# Database
DATABASE_URL=postgresql://postgres:password@localhost:5432/gada_vn

# Firebase
FIREBASE_PROJECT_ID=gada-vn
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@gada-vn.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# AWS
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_UPLOADS_BUCKET=gada-vn-uploads
S3_STATIC_BUCKET=gada-vn-static
CLOUDFRONT_DOMAIN=cdn.gadavn.com

# Redis
REDIS_URL=redis://localhost:6379

# Google Maps
GOOGLE_MAPS_API_KEY=

# App
API_URL=http://localhost:3001
WEB_URL=http://localhost:3000
ADMIN_URL=http://localhost:8080
NODE_ENV=development

# Admin Panel
ADMIN_SERVICE_ACCOUNT_JWT=
ADMIN_SECRET_KEY=

# Encryption
ENCRYPTION_KEY=
